In [2]:
import pyspark

from pyspark.sql import SparkSession, functions as F

In [3]:
spark = SparkSession.builder\
        .master("local[*]")\
        .appName("v_07").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/02/29 01:35:39 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
df_green = spark.read.parquet("data/raw/green/*/*")

In [19]:
df_green.registerTempTable('green')

In [9]:
df_green.columns

['VendorID',
 'lpep_pickup_datetime',
 'lpep_dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [23]:
df_green_result = spark.sql("""
    SELECT 
        PULocationID as zone,
        date_trunc("hour", lpep_pickup_datetime) as hour,
        
        SUM(total_amount) as ammount,
        COUNT(1) as total_number_of_trips
        
    FROM 
        green 
    GROUP BY 
        1, 2

""")

In [12]:
df_green_result.show()

+----+-------------------+------------------+---------------------+
|zone|               hour|           ammount|total_number_of_trips|
+----+-------------------+------------------+---------------------+
| 174|2020-01-01 00:00:00|              21.7|                    1|
|  41|2020-01-01 02:00:00|            556.11|                   36|
| 173|2020-01-01 05:00:00| 59.03999999999999|                    3|
|  75|2020-01-01 07:00:00|127.15999999999998|                   10|
|   7|2020-01-01 17:00:00| 357.8400000000001|                   28|
|  36|2020-01-01 16:00:00|             18.09|                    2|
|  41|2020-01-01 18:00:00| 487.9300000000001|                   33|
|  25|2020-01-01 19:00:00|            262.92|                   12|
| 179|2020-01-01 23:00:00|            139.97|                    6|
|  62|2020-01-02 10:00:00|             75.78|                    6|
| 181|2020-01-02 17:00:00|            179.72|                   10|
|  83|2020-01-02 18:00:00|             53.89|                    3|
|  92|2020-01-02 18:00:00|            160.36|                    8|
| 189|2020-01-02 20:00:00|61.010000000000005|                    3|
| 243|2020-01-02 22:00:00|26.560000000000002|                    2|
| 166|2020-01-03 01:00:00|             20.85|                    2|
| 181|2020-01-03 10:00:00|            250.37|                   13|
| 213|2020-01-03 16:00:00|              16.8|                    1|
|  36|2020-01-03 17:00:00|             99.68|                    4|
| 255|2020-01-03 20:00:00|119.36999999999999|                    9|
+----+-------------------+------------------+---------------------+
only showing top 20 rows

In [13]:
df_green_result.write.parquet('data/processed/revenue/green')

In [14]:
df_yellow = spark.read.parquet("data/raw/yellow/*/*")

In [18]:
df_yellow.registerTempTable('yellow')

In [17]:
df_yellow.columns

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge',
 'airport_fee']

In [21]:
df_yellow_result = spark.sql("""
    SELECT 
        PULocationID as zone,
        date_trunc("hour", tpep_pickup_datetime) as hour,
        
        SUM(total_amount) as ammount,
        COUNT(1) as total_number_of_trips
        
    FROM 
        yellow 
    GROUP BY 
        1, 2

""")

In [22]:
df_yellow_result.write.parquet('data/processed/revenue/yellow')

In [24]:
df_green_result = df_green_result.withColumnRenamed("ammount","green_ammount")\
                                 .withColumnRenamed("total_number_of_trips","green_trips")

In [25]:
df_yellow_result = df_yellow_result.withColumnRenamed("ammount","yellow_ammount")\
                                 .withColumnRenamed("total_number_of_trips","yellow_trips")

In [26]:
df_green_result

DataFrame[zone: bigint, hour: timestamp, green_ammount: double, green_trips: bigint]

In [54]:
df_joins = df_green_result.join(df_yellow_result,on=['hour','zone'],how='outer')

In [55]:
df_joins

DataFrame[hour: timestamp, zone: bigint, green_ammount: double, green_trips: bigint, yellow_ammount: double, yellow_trips: bigint]

In [29]:
df_joins.show()

+-------------------+----+-------------+-----------+------------------+------------+
|               hour|zone|green_ammount|green_trips|    yellow_ammount|yellow_trips|
+-------------------+----+-------------+-----------+------------------+------------+
|2020-01-01 04:00:00|   1|         null|       null|              94.8|           1|
|2020-01-01 08:00:00|   1|         null|       null|              60.8|           1|
|2020-01-01 11:00:00|   1|         null|       null|              90.3|           1|
|2020-01-01 12:00:00|   1|         null|       null|266.65999999999997|           3|
|2020-01-01 13:00:00|   1|         null|       null|            213.36|           2|
|2020-01-01 20:00:00|   1|         null|       null|             96.96|           3|
|2020-01-02 15:00:00|   1|         null|       null|246.60000000000002|           2|
|2020-01-02 17:00:00|   1|         null|       null|1168.3899999999999|          10|
|2020-01-03 05:00:00|   1|       117.39|          1|             100.1|           1|
|2020-01-03 06:00:00|   1|         null|       null|            174.36|           1|
|2020-01-03 14:00:00|   1|         null|       null|447.39000000000004|           5|
|2020-01-03 18:00:00|   1|         null|       null|            226.26|           2|
|2020-01-04 15:00:00|   1|         null|       null|460.06000000000006|           6|
|2020-01-04 17:00:00|   1|         null|       null|              94.3|           1|
|2020-01-06 10:00:00|   1|         null|       null|            397.26|           2|
|2020-01-06 11:00:00|   1|         null|       null|            290.85|           2|
|2020-01-06 15:00:00|   1|         null|       null|             100.3|           1|
|2020-01-08 08:00:00|   1|         null|       null|             95.31|           2|
|2020-01-08 11:00:00|   1|         null|       null|            296.74|           2|
|2020-01-08 12:00:00|   1|         null|       null|249.85999999999999|           2|
+-------------------+----+-------------+-----------+------------------+------------+
only showing top 20 rows

In [32]:
df_joins.write.parquet("data/processed/revenue/total")

Reading and Joining with the taxi-look-up dataset

In [51]:
# !wget https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv

--2024-02-29 02:27:40--  https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 3.160.203.184, 3.160.203.53, 3.160.203.81, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|3.160.203.184|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12331 (12K) [text/csv]
Saving to: ‘taxi_zone_lookup.csv.1’

taxi_zone_lookup.cs 100%[===================>]  12.04K  --.-KB/s    in 0s

2024-02-29 02:27:41 (219 MB/s) - ‘taxi_zone_lookup.csv.1’ saved [12331/12331]

In [44]:
df_zones = spark.read.option("header","true").csv('taxi+_zone_lookup.csv')

In [45]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

Joining Zones and total_revenue 

Broadcasting

In [61]:
df_joins_with_zones = df_joins.join(df_zones, df_joins.zone == df_zones.LocationID)

In [62]:
df_joins_with_zones

DataFrame[hour: timestamp, zone: bigint, green_ammount: double, green_trips: bigint, yellow_ammount: double, yellow_trips: bigint, LocationID: string, Borough: string, Zone: string, service_zone: string]

In [68]:
df_joins_with_zones.drop('zone')

DataFrame[hour: timestamp, green_ammount: double, green_trips: bigint, yellow_ammount: double, yellow_trips: bigint, LocationID: string, Borough: string, service_zone: string]

In [60]:
df_joins_with_zones.write.parquet("data/processed/tmp")

AnalysisException: Found duplicate column(s) when inserting into file:/home/haris/zoomcamp-learn/spark_notebooks/data/processed/tmp: `zone`